<assembly>
	<id>executable</id>
	<formats>
		<format>zip</format>
	</formats>
	<includeBaseDirectory>false</includeBaseDirectory>
	<files>
		<file>
			<source>src/main/extras/plugin-descriptor.properties</source>
			<outputDirectory>elasticsearch</outputDirectory>
			<filtered>true</filtered>
		</file>
	</files>
	<dependencySets>
		<dependencySet>
			<outputDirectory>elasticsearch</outputDirectory>
			<useProjectArtifact>true</useProjectArtifact>
			<includes>
				<include>com.worksap.nlp:*</include>
				<include>org.glassfish:javax.json</include>
			</includes>
		</dependencySet>
	</dependencySets>
</assembly>
